::ng-deep .modal-backdrop {
  z-index: -1;
}

.modal{

  --bs-modal-width: 550px;
}

/* close btn */
.btn-close {
  margin-right: 10px !important;
  width: 0.4em;
  height: 0.4em;
}

*
{
  margin: 0;
}
