
::ng-deep .modal-backdrop {
  z-index: -1;
}

.modal{
  --bs-modal-width: 910px;
}

/* close btn */
.btn-close {
  margin-right: 10px !important;
  width: 0.4em;
  height: 0.4em;
}
*{
  margin: 0;
}

input[type="file" i] {
  appearance: none;
  margin-top: 7px;
  font-size: 13px;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: start !important;
  padding: 0.955rem 0.95rem;
  border: initial;
  overflow: hidden !important;

}

.uploadLabel{
  position: absolute;
  margin-left: 100px;
  font-size: 13px;
  margin-top: -38px;
}
.chooseFile{
  display: flex;
  align-items: center;
}


